/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/viralrecon -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 6
  max_memory = 50.GB
  max_time = 48.h

  input = 'https://raw.githubusercontent.com/MicrobialGenomics/TestData/ttrichiura/ttrichiura/samplesheet/samplesheet.csv'
  fasta = 'https://raw.githubusercontent.com/MicrobialGenomics/TestData/ttrichiura/ttrichiura/genome/AF034219.fasta'
  gff = 'https://raw.githubusercontent.com/MicrobialGenomics/TestData/ttrichiura/ttrichiura/genome/AF034219.gff3'
}

