/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/viralrecon -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 4
  max_memory = 12.GB
  max_time = 48.h

  input = 'https://fcatala-09142020-eu-west-1.s3-eu-west-1.amazonaws.com/Helmints_2020/samplesheet.csv'
  fasta = References/AF034219.fasta
  gff = 'References/AF034219.gff3'
}
